[submodule "kancolle-replay"]
	path = kancolle-replay
	url = https://github.com/KC3Kai/kancolle-replay.git
[submodule "plugin-battle-detail"]
	path = plugin-battle-detail
	url = https://github.com/poooi/plugin-battle-detail.git
