*, html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
}

.btn-group {
  display: flex;
}
.panel {
  margin-bottom: 12px;
}
.panel .panel-title {
  font-size: inherit;
}
.panel .container {
  width: 100%;
  padding: 0;
}
.panel .row {
  margin: 0;
}
.panel .col {
  padding: 0;
}

main {
  padding: 10px;
}
#battlespace {
  width: 800px;
  height: 480px;
  background-color: black;
  margin: 0 auto;
}